#tblContent, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}

#tblContent {
padding: 0 18px;
display: none;
overflow: hidden;
background-color: #f1f1f1;
}

#btnRoot:hover {
    background-color: #7c7c7c; 
}

#btnRoot {
background-color: #000000; /* Green */
border: none;
color: white;
padding: 18px;
cursor: pointer;
text-decoration: none;
display: inline-block;
width: 100%;
text-align: left;
outline: none;
font-size: 15px;
}

#btnLeaf {
background-color: #546e55; /* Green */
border: none;
color: white;
padding: 18px;
cursor: pointer;
text-decoration: none;
display: inline-block;
width: 100%;
text-align: left;
outline: none;
font-size: 15px;
}