{% extends 'base.html' %}
{% block content %}
{% load static %}
<center>
    <h1>--- About Tech Guy Dave ---</h1>
</center>
<center>
    <p>Studied computer science and mathematics at the University of South Carolina.
    Pursued a career as a DevSecOps engineer shortly after graduation.
    Heavily driven toward automation in the software development lifecycle.</p>

    <p>This website is a way for me to showcase some personal projects and tinker with
    cutting edge technologies in the DevSecOps space.</p>

    <p>My focus area in software development is data analysis specifically in the
    natural language processing field.</p>

    <p>I have an interest in cultivating publicly available information from many sources
    (Twitter or SEC) to perform analysis and draw conclusions from.</p>

    <h2> Pojects List and Description </h2>
    <h3> Sorting Vsualizer: </h3>
    <p> Goal: Using javascript, html, and css design a sorting algorithm visualizer</p>
    <p> Outcome: Algorithm visualizer displays some of the soring algorithms but most are still in development</p>


</center>
{% endblock content %}