{% extends 'base.html' %}
{% block content %}
<center>--- About Tech Guy Dave ---</center>
<center>
    <br>Studied computer science and mathematics at the University of South Carolina.
    Pursued a career as a DevSecOps engineer shortly after graduation.
    Heavily driven toward automation in the software development lifecycle.</br>

    <br>This website is a way for me to showcase some personal projects and tinker with
    cutting edge technologies in the DevSecOps space.</br>

    <br>My focus area in software development is data aanalysis specifically in the
    natural language processing field.</br>

    <br>I have an interest in cultivating publicly available information from many sources
    (twittet or SEC) to perform analysis and draw conclusions from.</br>
</center>
{% endblock content %}