{% extends 'base.html' %}
{% block content %}
{% load static %}
    <section class="head">Sorting Visualizer</section>
    <div class="data-container"></div> 
   
    <div class="button-container">
        <!-- "Generate New Array" button -->
        <button  class="btn1" onclick="generateBarGraph()" id="Button1" >Generate New Array</button>   
    </div>
    
    <div class="button-container">
        <!-- "Selection Sort" button -->
        <button class="btn2" onclick="SelectionSort(),disableButtons()" id="Button2" >Selection Sort</button>

        <!-- "Bubble Sort" button -->
        <button class="btn2" onclick="BubbleSort(),disableButtons()" id="Button3" >Bubble Sort</button>

        <!-- "Insertion Sort" button -->
        <button class="btn2" onclick="InsertionSort(),disableButtons()" id="Button4" >Insertion Sort</button>

        <!-- "Merge Sort" button -->
        <button class="btn2" onclick="MergeSort(),disableButtons()" id="Button5" >Merge Sort</button>

        <!-- "Quick Sort" button -->
        <button class="btn2" onclick="QuickSort(),disableButtons()" id="Button6" >Quick Sort</button>

        <!-- "Heap Sort" button -->
        <button class="btn2" onclick="HeapSort(),disableButtons()" id="Button7" >Heap Sort</button>

        <!-- "Heap Sort" button -->
        <button class="btn2" onclick="CountingSort(),disableButtons()" id="Button8" >Counting Sort</button>
        
        <!-- "Heap Sort" button -->
        <button class="btn2" onclick="RadixSort(),disableButtons()" id="Button9" >Radix Sort</button>
        
        <!-- "Heap Sort" button -->
        <button class="btn2" onclick="BucketSort(),disableButtons()" id="Button10" >Bucket Sort</button>
        
        <!-- "Heap Sort" button -->
        <button class="btn2" onclick="BingoSort(),disableButtons()" id="Button11" >Bingo Sort</button>
        
        <!-- "Heap Sort" button -->
        <button class="btn2" onclick="ShellSort(),disableButtons()" id="Button12" >Shell Sort</button>
        
        <!-- "Heap Sort" button -->
        <button class="btn2" onclick="TimSort(),disableButtons()" id="Button13" >Tim Sort</button>
        
        <!-- "Heap Sort" button -->
        <button class="btn2" onclick="CombSort(),disableButtons()" id="Button14" >Comb Sort</button>
        
        <!-- "Heap Sort" button -->
        <button class="btn2" onclick="PigeonholeSort(),disableButtons()" id="Button15" >Pigeonhole Sort</button>
        
        <!-- "Heap Sort" button -->
        <button class="btn2" onclick="CycleSort(),disableButtons()" id="Button16" >Cycle Sort</button>
        
        <!-- "Heap Sort" button -->
        <button class="btn2" onclick="CoctailSort(),disableButtons()" id="Button17" >Coctail Sort</button>
        
        <!-- "Heap Sort" button -->
        <button class="btn2" onclick="StrandSort(),disableButtons()" id="Button18" >Strand Sort</button>
        
        <!-- "Heap Sort" button -->
        <button class="btn2" onclick="BitonicSort(),disableButtons()" id="Button19" >Bitonic Sort</button>
        
        <!-- "Heap Sort" button -->
        <button class="btn2" onclick="PancakeSort(),disableButtons()" id="Button20" >Pancake Sort</button>
        
        <!-- "Heap Sort" button -->
        <button class="btn2" onclick="PermutationSort(),disableButtons()" id="Button21" >Permutation Sort</button>
        
        <!-- "Heap Sort" button -->
        <button class="btn2" onclick="GnomeSort(),disableButtons()" id="Button22" >Gnome Sort</button>
        
        <!-- "Heap Sort" button -->
        <button class="btn2" onclick="SleepSort(),disableButtons()" id="Button23" >Sleep Sort</button>
                
        <!-- "Heap Sort" button -->
        <button class="btn2" onclick="StructureSort(),disableButtons()" id="Button24" >Structure Sort</button>
                
        <!-- "Heap Sort" button -->
        <button class="btn2" onclick="StoogeSort(),disableButtons()" id="Button25" >Stooge Sort</button>
                
        <!-- "Heap Sort" button -->
        <button class="btn2" onclick="TagSort(),disableButtons()" id="Button26" >Tag Sort</button>
                
        <!-- "Heap Sort" button -->
        <button class="btn2" onclick="TreeSort(),disableButtons()" id="Button27" >Tree Sort</button>
                
        <!-- "Heap Sort" button -->
        <button class="btn2" onclick="BrickSort(),disableButtons()" id="Button28" >Brick Sort</button>
                
        <!-- "Heap Sort" button -->
        <button class="btn2" onclick="ThreeWayMergeSort(),disableButtons()" id="Button29" >3-Way Merge Sort</button>
    </div>
    <script src="{% static 'js/visualizer_script.js' %}"></script>
    <script type="text/javascript">
        window.onresize = resizeGraph;
    </script>
{% endblock content %}